* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #222;
    color: white;

    display: flex;
    justify-content: space-between;

    padding: 40px 50px;
}

.footer-box {
    width: 30%;
}

.footer-box h3 {
    margin-bottom: 15px;
}

.footer-box p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.footer-box a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-box a:hover {
    color: yellow;
}

.copyright {
    background-color: black;
    color: white;

    text-align: center;

    padding: 15px;
}